* {
  /* https://www.w3schools.com/cssref/css3_pr_box-sizing.asp */
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* https://www.w3schools.com/css/css_font.asp */
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
}

.subscribe {
  width: 30em;
  height: 100%;
  padding: 0 3em;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,46,102,.8);
}

.subscribe h1 {
  font-family: 'Merriweather', serif;
  font-size: 3.5rem;
  margin: 0;
}

.subscribe p {
  font-size: 1.3rem;
}

.subscribe form {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
}

.subscribe form input[type="text"] {
  height: 40px;
  width: 70%;
  flex: 70%;
  border: 0;
  padding: 0 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.subscribe form input[type="submit"] {
  height: 40px;
  width: 30%;
  flex: 30%;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  background-color: #cd9557;
  color: #fff;
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.subscribe form input[type="submit"]:hover {
  background-color: #ba7c37;
}
